 {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.image {
  height: 90vh;
  background-image: url("1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contain0 {
  background-image: url("f.jpg");
}

.contain1 {
  background-color: rgba(255, 255, 255, 0.8);
}

.layout11 {
  position: absolute;
  margin-left: 30px;
  left: 1%;
  top: 40%;
}

p {
  font-size: 20px;
  font-weight: 1000px;
  color: rgb(15, 172, 235);
}

.contain1 h1,
h3 {
  color: rgb(15, 172, 235);
}

footer {
  background-color: rgb(29, 27, 27);
  padding: 10px;
}

footer p {
  color: aliceblue;
}

@media screen and (max-width: 500px) {
  li {
    color: whitesmoke;
    font-size: 16px;
    text-shadow: 0px 1px 1px rgb(32, 31, 31);
  }
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 20px;
  }
  h3 {
    font-size: 12px;
  }
  .image {
    background-position-x: 70%;
  }
  .layout11 {
    position: relative;
    left: 20px;
  }
  
  }
}
